.PageLink {
    color: black;
    margin-right: 10px;
}

.ActivePageLink {
    font-weight: bold;
}

div.wrapper-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}