.Product {
    border: solid gray 3px
}

div.wrapper-main .Product {
    width: 30%;
    margin: 5px 5px 50px 5px;
    background-color: rgb(203 225 239); 
    border-radius: 9px; 
    box-shadow: 3px 2px 1px lightgray;
    padding: 10px;
    overflow: hidden;
    transition: 500ms ease;
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}
  
div.wrapper-main .Product:hover {
    transform: scale(1.05);
}

.text {
    font-weight: bold;
}